body {
	background-color: black;
	color: white;
	font-family: Arial, sans-serif;
}
body {
    background-color: black;
  }
  #video-wrapper {
    position: relative;
  }
  
  #text-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* Add any additional styling as needed */
  }
  
  #myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
  }
  
  /* Scale the video to fit the entire screen */
  @media (max-width: 767px) {
    #myVideo {
      width: 100%;
      height: auto;
    }
  }
  
  /* Animation */
  @keyframes background-animation {
    from {
      transform: scale(1);
    }
    to {
      transform: scale(1.05);
    }
  }
  
  body {
    animation: background-animation 60s infinite alternate;
  }
  
header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px;
}

nav ul {
	display: flex;
	list-style: none;
	margin: 0;
	padding: 0;
}

nav ul li {
	margin: 0 20px;
}

nav ul li a {
	color: white;
	text-decoration: none;
}

.dropdown-menu {
	display: none;
	position: absolute;
	background-color: black;
	padding: 20px;
}

.dropdown:hover .dropdown-menu {
	display: block;
}

main {
	margin: 50px auto;
	max-width: 800px;
	text-align: center;
}

 
